.contact-us-container{
    
    margin: 0 auto;
    margin-top: 15%;
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.contact-us-container h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.contact-us-container p{
    font-size: 18px;
    margin-bottom: 40px;
}
.contact-form .form-group{
    margin-bottom: 20px;
    text-align: left;
}
.contact-form label{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.submit-btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4d4d4de0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.submit-btn :hover{
    background-color: #45a049;
}
@media (max-width: 768px) {
    .contact-us-container {
      padding: 20px;
    }
    
    .contact-us-container h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    .contact-us-container p {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }