.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ccc;
  }
  .footer-box{
    width: 30%;


}
.footer-box p{
    line-height: 1.2rem;
    margin-top: 20px;

}
.footer-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 21px;
}
.footer-links li{
    line-height: 28px;
    list-style: none;
    

}
.footer-links li a{
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}
.footer-links li a:hover{
    color: rgb(233, 233, 233);
}