body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Gloock&family=Noto+Serif+Gujarati:wght@500;900&family=Roboto+Condensed&family=Sofia+Sans:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anek+Gurmukhi:wght@100..800&family=Gloock&family=Noto+Serif+Gujarati:wght@500;900&family=Roboto+Condensed&family=Sofia+Sans:wght@100;400&display=swap');


